<!DOCTYPE html>
<html lang="en">
<head>  
    <%include   partials/header.ejs%>
    <link rel="stylesheet" href="estiloPrincipal.css">
</head>
<body>
  <header>
      <h2 class="a">Bienvenido al sistema</h2>
  </header>
  <section>
      <%include partials/nav.ejs%>
      <button type="button" class="btn btn-primary btn-lg btn-block" >Abrir archivo</button>
      <textarea name="textoArea" id="textoArea" cols="120" rows="15" class="textArea"></textarea>    
      <button type="button" class="btn btn-primary btn-lg btn-block" onclick="postText()">Analizar</button>
      <button type="button" class="btn btn-primary btn-lg btn-block" onclick="">Solicitar Token</button>
      <button type="button" class="btn btn-default btn-lg btn-block" onclick="borrarTexto()">Limpiar area</button>
      <li class="list-group-item list-group-item-success" style="text-align: center" id="listado"></li>
    </div>
  </section>
</body>
<% include partials/footer.ejs %>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>  
<script src="fronted.js"></script>
</html>