<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/header.ejs %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div>
        <div class="alert alert-success" role="alert" style="text-align: center">ingresa el texto que desas analizar</div>
        <textarea class="form-control" rows="3"></textarea>
        <button type="button" class="btn btn-info" >analizar</button>        
    </div>
    <div>
        <table class="table table-striped">            
                <tr>
                        <td>CSS</td>
                        <td>20</td>
                        <td>16:00 - 20:00</td>
                      </tr>
                      
                      <tr>
                        <td>HTML</td>
                        <td>20</td>
                        <td>16:00 - 20:00</td>
                      </tr>
                      
                      <tr>
                        <td>Dreamweaver</td>
                        <td>60</td>
                        <td>16:00 - 20:00</td>
                      </tr>
        </table>
    </div>
    
</body>

</html>