<!DOCTYPE html>
<html lang="en">
<head>  
    <%include   partials/header.ejs%>
    <link rel="stylesheet" href="estiloPrincipal.css">
</head>
<body>
  <header>
      <h2 class="a">Bienvenido al sistema</h2>
  </header>
  <section>
    <div >
      <textarea name="textArea" id="areaTexto" cols="120" rows="15" class="textArea"></textarea>    
      <button type="button" class="btn btn-primary btn-lg btn-block" onclick="mostrarDatos()">Analizar</button>
      <button type="button" class="btn btn-default btn-lg btn-block" onclick="borrarTexto()">Limpiar area</button>
    </div>
  </section>
</body>
<% include partials/footer.ejs %>
  <script src="jsPromise.js"></script>
</html>