<!DOCTYPE html>
<html lang="en">
<%include   partials/header.ejs%>
<link rel="stylesheet" href="estiloPrincipal.css">

<body>
  <h2 class="a">Datos Estudiante y centro de estudios</h2>
  <%include partials/nav.ejs%>
  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Universidad San Carlos de Guatemala (USAC)</li>
      <li class="list-group-item">Centro Universitario de Occidente (CUNOC)</li>
      <li class="list-group-item">Lenguajes formales de progracion 1</li>
      <li class="list-group-item">Proyecto 1 Analizador lexico</li>
      <li class="list-group-item">David Rodolfo Martinez Miranda</li>
      <li class="list-group-item">201632145</li>
    </ul>
  </div>
</body>

</html>